body{
	background-image: url(bg.jpg);

	margin-top: 10%;


}
#footer_temp{
	clear: both;
	width: 100%;
	background: #005590 url(footer.jpg) repeat-x top;
	position: fixed;
	bottom: 0;

}

#footer_in{
	  clear: both;
   width: 940px;
   padding: 20px 30px;
   margin: 0 auto;
   text-align: center;
   color: #FFFFFF;

}
.img_logo{
	background: #005590 url(footer.jpg) repeat-x top;
	clear: both;
	width: 100%;
	position: absolute;
	top:0;
}
.header_in{
		  clear: both;
   width: 940px;
   padding: 20px 30px;
   margin: 0 auto;
   text-align: center;
   color: #FFFFFF;
}